<div class="position-relative">
  <%= image_tag "moon_palace_punta_cana_home_carouselcenter_2160x1080px_2309cc9dd6_787b655573.jpeg", style: "width: 100vw;" %>
  <div class="position-absolute text-center w-100 text-white" style="top: 45%; letter-spacing: 0.5rem;">
    <h1>BIENVENIDO A DANTAVI</h1>
    <hr class="border-white w-50 mx-auto" style="border-top-width: 2px; opacity: 1;">
  </div>
  
  
</div>
