/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: Figtree;
  src: url("/fonts/figtree/Figtree-Regular.ttf");
}

@font-face {
  font-family: "Miller Display Roman";
  src: url("/fonts/Miller Display Roman/Miller Display Roman.otf");
}

@import "bootstrap";

:root {
  --bs-primary: #c29c75;
  --bs-secondary: #efeee9;
  --bs-primary-rgb: 194, 156, 117;
  --bs-secondary-rgb: 239, 238, 233;
  --bs-font-sans-serif: Figtree, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Miller Display Roman";
}
