<div class="bg-secondary">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <%= link_to "DESTINOS", "/destinations", {:class => "h4 text-body text-decoration-none"}%>
        <hr class="border-dark mt-2 mb-4 w-50">
        <div>
          <% @destinations.each do |destination| %>
              <%= link_to destination.name.upcase, destination, {:class => "text-dark text-decoration-none d-block my-1"} %>
          <% end %>
        </div>
      </div>
      <div class="col">
        <%= link_to "HOTELES", "/hotels", {:class => "h4 text-body text-decoration-none"}%>
        <hr class="border-dark mt-2 mb-4 w-50">
        <div>
          <% @hotels.each do |hotel| %>
              <%= link_to hotel.name.upcase, hotel, {:class => "text-dark text-decoration-none d-block my-1"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
